@media (min-width: 1200px) {
  /* line 6, /Users/Soon/Work/一见/html/app/less/media.less */
  .container {
    width: 1050px;
  }
}
/* line 6, /Users/Soon/Work/一见/html/app/less/bootstrap.less */
.navbar {
  background-color: rgba(0, 0, 0, 0.88);
  border-bottom: none;
}
/* line 9, /Users/Soon/Work/一见/html/app/less/bootstrap.less */
.navbar .dropdown-menu {
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.88);
}
/* line 14, /Users/Soon/Work/一见/html/app/less/bootstrap.less */
.navbar .dropdown-menu > li > a:hover,
.navbar .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: transparent;
}
/* line 20, /Users/Soon/Work/一见/html/app/less/bootstrap.less */
.navbar .dropdown-menu .divider {
  background-color: #333;
}
/* line 27, /Users/Soon/Work/一见/html/app/less/bootstrap.less */
.navbar-default .navbar-nav > li {
  border-right: 1px solid #333;
}
/* line 29, /Users/Soon/Work/一见/html/app/less/bootstrap.less */
.navbar-default .navbar-nav > li:first-child {
  border-left: 1px solid #333;
}
/* line 32, /Users/Soon/Work/一见/html/app/less/bootstrap.less */
.navbar-default .navbar-nav > li > a {
  color: #999;
  text-transform: uppercase;
}
/* line 35, /Users/Soon/Work/一见/html/app/less/bootstrap.less */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}
/* line 41, /Users/Soon/Work/一见/html/app/less/bootstrap.less */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: transparent;
}
/* line 50, /Users/Soon/Work/一见/html/app/less/bootstrap.less */
.thumbnail {
  margin-bottom: 30px;
  padding: 0;
  border: none;
  border-radius: 0;
}
/* line 58, /Users/Soon/Work/一见/html/app/less/bootstrap.less */
.form-control {
  padding: 10px !important;
  border: 1px solid #ccc !important;
  border-radius: 0 !important;
}
/* line 65, /Users/Soon/Work/一见/html/app/less/bootstrap.less */
.btn {
  padding: 10px 25px;
  border-radius: 0;
  background: none;
  border-width: 3px;
}
/* line 70, /Users/Soon/Work/一见/html/app/less/bootstrap.less */
.btn:hover,
.btn:focus {
  background: none !important;
  border-width: 3px;
}
/* line 75, /Users/Soon/Work/一见/html/app/less/bootstrap.less */
.btn:active {
  top: 1px;
  background: none !important;
}
/* line 81, /Users/Soon/Work/一见/html/app/less/bootstrap.less */
.btn-default {
  color: #000;
  border-color: #000;
}
/* line 84, /Users/Soon/Work/一见/html/app/less/bootstrap.less */
.btn-default:hover,
.btn-default:focus {
  border-color: #000;
  box-shadow: 3px 3px 0 #000;
}
/* line 89, /Users/Soon/Work/一见/html/app/less/bootstrap.less */
.btn-default:active {
  box-shadow: 1px 1px 0 #000;
}
/* line 8, /Users/Soon/Work/一见/html/app/less/global.less */
* {
  transition: all .2s ease;
}
/* line 12, /Users/Soon/Work/一见/html/app/less/global.less */
html,
body {
  margin: 0;
  padding: 0;
  font-family: serif, 'Lantinghei SC', 'Microsoft YaHei', STHeiti, SimSun;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  color: #444;
  line-height: 1.5;
}
/* line 23, /Users/Soon/Work/一见/html/app/less/global.less */
a,
a:hover,
a:focus {
  color: #444;
}
/* line 30, /Users/Soon/Work/一见/html/app/less/global.less */
.crown {
  padding-top: 80px;
  margin-bottom: 30px;
}
/* line 36, /Users/Soon/Work/一见/html/app/less/global.less */
.trunk {
  margin-bottom: 30px;
}
/* line 41, /Users/Soon/Work/一见/html/app/less/global.less */
.root {
  color: #999;
}
/* line 43, /Users/Soon/Work/一见/html/app/less/global.less */
.root .about-site {
  padding: 30px 0;
  text-align: center;
  background-color: #242628;
}
/* line 47, /Users/Soon/Work/一见/html/app/less/global.less */
.root .about-site .search {
  width: 70%;
  margin: 20px auto 30px;
  padding-bottom: 30px;
  border-bottom: 1px dashed #444;
}
/* line 53, /Users/Soon/Work/一见/html/app/less/global.less */
.root .about-site .form-control {
  background-color: #000000;
}
/* line 56, /Users/Soon/Work/一见/html/app/less/global.less */
.root .about-site .title {
  display: block;
  font-size: 18px;
  color: #bbb;
}
/* line 61, /Users/Soon/Work/一见/html/app/less/global.less */
.root .about-site p {
  margin: 20px 0;
}
/* line 65, /Users/Soon/Work/一见/html/app/less/global.less */
.root .social-share {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
}
/* line 73, /Users/Soon/Work/一见/html/app/less/global.less */
.root .social-share li {
  display: inline-block;
}
/* line 77, /Users/Soon/Work/一见/html/app/less/global.less */
.root .social-share-link {
  display: inline-block;
  width: 50px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  padding: 0;
  color: #999;
  transition: all .2s;
}
/* line 86, /Users/Soon/Work/一见/html/app/less/global.less */
.root .social-share-link:hover,
.root .social-share-link:focus {
  color: #fff;
  text-decoration: none;
}
/* line 92, /Users/Soon/Work/一见/html/app/less/global.less */
.root .quick-nav {
  margin-top: 20px;
}
/* line 94, /Users/Soon/Work/一见/html/app/less/global.less */
.root .quick-nav a {
  margin: 0 10px;
  color: #999;
}
/* line 99, /Users/Soon/Work/一见/html/app/less/global.less */
.root .copyright {
  padding: 15px 0;
  font-size: 12px;
  background-color: #222;
}
/* line 103, /Users/Soon/Work/一见/html/app/less/global.less */
.root .copyright a {
  color: #999;
}
/* line 111, /Users/Soon/Work/一见/html/app/less/global.less */
.navbar .dropdown-menu {
  padding: 10px 0;
}
/* line 113, /Users/Soon/Work/一见/html/app/less/global.less */
.navbar .dropdown-menu > li > a {
  font-weight: lighter;
  color: #999;
  line-height: 1.8;
  font-size: 13px;
}
/* line 120, /Users/Soon/Work/一见/html/app/less/global.less */
.navbar .social-share {
  font-size: 16px;
}
/* line 122, /Users/Soon/Work/一见/html/app/less/global.less */
.navbar .social-share .social-share-link {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  padding: 0;
  transition: all .2s;
}
/* line 130, /Users/Soon/Work/一见/html/app/less/global.less */
.navbar .social-share .social-share-link:hover,
.navbar .social-share .social-share-link:focus {
  font-size: 20px;
}
/* line 138, /Users/Soon/Work/一见/html/app/less/global.less */
.navbar-nav > li > a {
  letter-spacing: 0.1em;
}
/* line 143, /Users/Soon/Work/一见/html/app/less/global.less */
.search {
  position: relative;
  margin: 0;
  padding: 0;
}
/* line 147, /Users/Soon/Work/一见/html/app/less/global.less */
.search .form-group {
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  vertical-align: middle;
}
/* line 153, /Users/Soon/Work/一见/html/app/less/global.less */
.search .form-control {
  width: 100%;
  height: 50px;
  padding: 0 20px !important;
  border: none !important;
  color: #787878;
  font-size: 13px;
  line-height: 50px;
  background: transparent;
  transition: all .5s ease;
}
/* line 163, /Users/Soon/Work/一见/html/app/less/global.less */
.search .form-control:hover,
.search .form-control:focus {
  color: #fff;
}
/* line 168, /Users/Soon/Work/一见/html/app/less/global.less */
.search button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  text-align: center;
  color: #787878;
  font-size: 15px;
  background: transparent;
}
/* line 180, /Users/Soon/Work/一见/html/app/less/global.less */
.search button:hover,
.search button:focus {
  color: #fff;
}
/* line 189, /Users/Soon/Work/一见/html/app/less/global.less */
.branding .logo img {
  width: 232.5px;
}
/* line 195, /Users/Soon/Work/一见/html/app/less/global.less */
.section-header {
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.1em;
}
/* line 199, /Users/Soon/Work/一见/html/app/less/global.less */
.section-header .title-with-sep {
  background: url("../img/section-header-sep.gif") repeat-x 50%;
}
/* line 202, /Users/Soon/Work/一见/html/app/less/global.less */
.section-header .title {
  display: inline-block;
  margin: 0;
  padding: 0 20px;
  font-size: 48px;
  font-weight: normal;
  line-height: 1.5;
  background-color: #fff;
}
/* line 211, /Users/Soon/Work/一见/html/app/less/global.less */
.section-header .sub-title {
  display: inline-block;
  margin: 0;
  font-weight: lighter;
  line-height: 1.5;
  color: #999;
}
/* line 222, /Users/Soon/Work/一见/html/app/less/global.less */
.section-body .title {
  margin-bottom: 30px;
  font-weight: normal;
  font-style: italic;
}
/* line 227, /Users/Soon/Work/一见/html/app/less/global.less */
.section-body p {
  margin-bottom: 30px;
  font-size: 16px;
}
/* line 231, /Users/Soon/Work/一见/html/app/less/global.less */
.section-body embed {
  width: 100%;
  min-height: 600px;
  height: auto;
}
/* line 240, /Users/Soon/Work/一见/html/app/less/global.less */
.comments .media {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
/* line 248, /Users/Soon/Work/一见/html/app/less/global.less */
.comments .media-heading {
  margin-bottom: .7em;
}
/* line 250, /Users/Soon/Work/一见/html/app/less/global.less */
.comments .media-heading small {
  margin-left: .7em;
}
/* line 7, /Users/Soon/Work/一见/html/app/less/style.less */
.poster-carousel {
  overflow: hidden;
  margin-bottom: 30px;
}
/* line 10, /Users/Soon/Work/一见/html/app/less/style.less */
.poster-carousel .item {
  transition: all .5s ease;
}
/* line 12, /Users/Soon/Work/一见/html/app/less/style.less */
.poster-carousel .item:hover,
.poster-carousel .item:focus {
  opacity: .6;
}
/* line 17, /Users/Soon/Work/一见/html/app/less/style.less */
.poster-carousel .banner-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
}
/* line 26, /Users/Soon/Work/一见/html/app/less/style.less */
.poster-carousel .banner-info:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 32, /Users/Soon/Work/一见/html/app/less/style.less */
.poster-carousel .banner-info h1 {
  font-size: 48px;
  margin: 10px 0 40px;
}
/* line 36, /Users/Soon/Work/一见/html/app/less/style.less */
.poster-carousel .banner-info .btn {
  border-color: #fff;
  color: #fff;
}
/* line 41, /Users/Soon/Work/一见/html/app/less/style.less */
.poster-carousel .info-inner {
  display: inline-block;
  vertical-align: middle;
}
/* line 48, /Users/Soon/Work/一见/html/app/less/style.less */
.p-posts,
.p-videos,
.p-activities {
  margin-bottom: 30px;
}
/* line 52, /Users/Soon/Work/一见/html/app/less/style.less */
.p-posts figure.picture,
.p-videos figure.picture,
.p-activities figure.picture {
  background-color: #71bad5;
  overflow: hidden;
}
/* line 56, /Users/Soon/Work/一见/html/app/less/style.less */
.p-posts .thumbnail,
.p-videos .thumbnail,
.p-activities .thumbnail {
  padding-bottom: 20px;
  border-bottom: 3px solid #000;
  text-align: center;
}
/* line 60, /Users/Soon/Work/一见/html/app/less/style.less */
.p-posts .thumbnail img,
.p-videos .thumbnail img,
.p-activities .thumbnail img {
  transition: all .5s ease;
}
/* line 62, /Users/Soon/Work/一见/html/app/less/style.less */
.p-posts .thumbnail img:hover,
.p-videos .thumbnail img:hover,
.p-activities .thumbnail img:hover,
.p-posts .thumbnail img:focus,
.p-videos .thumbnail img:focus,
.p-activities .thumbnail img:focus {
  opacity: .6;
  transform: scale(1.02);
}
/* line 68, /Users/Soon/Work/一见/html/app/less/style.less */
.p-posts .thumbnail .title,
.p-videos .thumbnail .title,
.p-activities .thumbnail .title {
  display: block;
  margin: 15px 0 15px;
  font-weight: bold;
}
/* line 73, /Users/Soon/Work/一见/html/app/less/style.less */
.p-posts .thumbnail .sub-title,
.p-videos .thumbnail .sub-title,
.p-activities .thumbnail .sub-title {
  display: block;
  color: #999;
}
/* line 77, /Users/Soon/Work/一见/html/app/less/style.less */
.p-posts .thumbnail p,
.p-videos .thumbnail p,
.p-activities .thumbnail p {
  margin: 0;
}
/* line 86, /Users/Soon/Work/一见/html/app/less/style.less */
.p-posts .sort-title,
.p-videos .sort-title {
  margin: 15px 0;
  padding: 0 8px;
}
/* line 89, /Users/Soon/Work/一见/html/app/less/style.less */
.p-posts .sort-title .more,
.p-videos .sort-title .more {
  float: right;
  font-weight: normal;
  font-size: 75%;
  color: #bbb;
  line-height: 24px;
}
/* line 97, /Users/Soon/Work/一见/html/app/less/style.less */
.p-posts figure.picture,
.p-videos figure.picture {
  height: 330px;
}
/* line 104, /Users/Soon/Work/一见/html/app/less/style.less */
.p-contact .form-group {
  margin-bottom: 30px;
}
/* line 111, /Users/Soon/Work/一见/html/app/less/style.less */
.p-about .media {
  margin-bottom: 30px;
}
/* line 114, /Users/Soon/Work/一见/html/app/less/style.less */
.p-about .media-left {
  width: 40%;
  padding-right: 20px;
}
/* line 118, /Users/Soon/Work/一见/html/app/less/style.less */
.p-about .media-body {
  padding: 6px 0;
}
/* line 121, /Users/Soon/Work/一见/html/app/less/style.less */
.p-about .media-heading {
  margin-bottom: 15px;
}
/* line 124, /Users/Soon/Work/一见/html/app/less/style.less */
.p-about .media-sub-heading {
  margin-top: 0;
  margin-bottom: 6px;
  color: #999;
  font-weight: normal;
}
/* line 130, /Users/Soon/Work/一见/html/app/less/style.less */
.p-about .email {
  margin-top: 10px;
}
